/**
 *
 * SweetAlert2 (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-01-08
 *
 */


.swal2-overlay {
	background: rgba(#000, 0.5);
	outline: none;
	transition: 0.25s;
}

.swal2-modal {
	font-family: $font-ui;
	box-shadow: 0 0 2px rgba(#000, 0.15), 0 2px 4px rgba(#000, 0.25);
	user-select: none;
	
	input {
		font-size: 16px !important;
	}
	.swal2-content {
		font-size: 16px !important;
		cursor: default;
		text-align: center;
	}
	.swal2-icon {
		&.swal2-info {
			border-color: rgba($L-Aqua, 0.2);
			color: $L-Aqua;
		}
		&.swal2-error {
			border-color: rgba($L-Red, 0.2);
			.line { background-color: $L-Red; }
		}
		&.swal2-warning {
			border-color: rgba($L-Orange, 0.2);
			color: $L-Orange;
		}
		&.swal2-success {
			border-color: $L-YellowGreen;
			.placeholder { border-color: rgba($L-YellowGreen, 0.2); }
			.line { background-color: $L-YellowGreen; }
		}
	}
}

@keyframes pulse-warning {
	0%   {border-color: $L-Orange;}
	100% {border-color: rgba($L-Orange, 0.2);}
}

.swal2-popup {
	#swal2-content {
		display: inline-block !important;
		text-align: left;
	}
	.swal2-styled {
		min-width: 6em;
		min-height: 2.5em;
		margin-left: 0.5em;
		margin-right: 0.5em;
		padding: 0 16px;
		transition: 0.25s;
	
		&.swal2-confirm {
			background-color: $L-Orange !important;
			&:hover { background-color: $L-Orange-b !important; }
		}
		&.swal2-cancel {
			background-color: $L-Gray !important;
			&:hover { background-color: $L-DarkGray !important; }
		}
		&:focus {
			box-shadow: 0 4px 6px rgba(#000, 0.25) !important;
			outline: none;
		}
	}
}

.swal2-popup.prompt-with-option {
	#swal2-content {
		width: 100%;
		text-align: center;

		div:first-child {
			text-align: left;
		}
	}
	.swal2-input {
		display: flex;
	}
	.swal2-checkbox-opt {
		margin: 1em auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
