/*
 *
 * Side Menu Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-10-11
 *
 */


$menu-padding-v: 10px;


.side-menu {
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	bottom: 0;
	z-index: 9999;
	
	background-color: $color-window;
	box-shadow: 0 2px 2px rgba(#000, 0.15), 2px 2px 2px rgba(#000, 0.25);

	font-size: 15px;
	line-height: 1;
	font-family: 'Yu Gothic UI';

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li,
	.caption {
		margin: 0;
		user-select: none;
	}
	.container {
		height: 100%;
		overflow-y: auto;

		&::after {
			content: '';
			display: block;
			height: 12px;
		}
	}
	.caption {
		padding: $menu-padding-v 16px;
		font-weight: bold;
	}	
	.menu + .caption { margin-top: 12px; }
	.menu {
		.mi {
			padding: $menu-padding-v 48px;
			min-width: 160px;
			&:hover { background-color: $L-LightGray; }
		}
		.menu-sub {
			padding: 0 48px;
			display: flex;
	
			> span {
				padding: $menu-padding-v 16px $menu-padding-v 0;
				flex-grow: 1;
				white-space: nowrap;
				color: $L-DarkGray;
				font-weight: bold;
			}
			> ul {
				display: inline-flex;
				color: $L-DarkGray;
		
				> li {
					padding: $menu-padding-v 10px;
					max-width: 18px;
					min-width: 18px;
					&:hover { background-color: $L-LightGray; }
				}
			}
		}
		.separator {
			height: 12px;
			padding: 0;
			pointer-events: none;
		}
		.separator.icon {
			width: 12px;
		}
		[data-cmd].checked {
			position: relative;
			&::before {
				content: '\f00c';
				position: absolute;
				display: inline-block;
				margin-left: -24px;

				color: $L-DarkGray;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
			}
		}
		[data-cmd].disabled {
			pointer-events: none;
			color: $L-LightGray;
		}
	}
}
