/**
 *
 * SweetAlert2 (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-09-22
 *
 */


.swal2-overlay {
	background: rgba(#000, 0.5);
	outline: none;
	transition: 0.25s;
}

.swal2-popup {
	border       : 1px solid #777;
	border-radius: 4px;
	box-shadow   : 0 0 32px rgba(#000, 0.35);

	user-select: none;

	font-family: $font-ui;
	font-size: 14px;
	color: rgba(#000, 0.95);
	padding: 16px;

	.swal2-content {
		display: inline-block !important;

		font-size: inherit;
		color: inherit;
		line-height: 150%;

		text-align: center;
		-webkit-text-stroke-width: 0.25px;
	}
	#swal2-content {
		display: inline-block !important;
		text-align: left;
	}
	.swal2-input {
		font-family: $font-console;
		font-size: inherit;
		color: inherit;
	}
	.swal2-icon {
		&.swal2-info {
			border-color: rgba($L-Aqua, 0.2);
			color: $L-Aqua;
		}
		&.swal2-error {
			border-color: rgba($L-Red, 0.2);
			.line { background-color: $L-Red; }
		}
		&.swal2-warning {
			border-color: rgba($L-Orange, 0.2);
			color: $L-Orange;
			line-height: 1.25;
		}
		&.swal2-success {
			border-color: $L-YellowGreen;
			.placeholder { border-color: rgba($L-YellowGreen, 0.2); }
			.line { background-color: $L-YellowGreen; }
		}
	}
	.swal2-styled {
		margin: 0;
		min-width       : 96px;
		padding         : 8px 16px;
		user-select     : none;

		transition: 0.25s;

		font-family: inherit;
		font-size: 14px;
		font-weight: normal;
		line-height: 1;

		&.swal2-confirm {
			background-color: $L-Orange;
			&:hover { background-color: $L-Orange-b; }
		}
		&.swal2-cancel {
			background-color: $L-Gray;
			&:hover { background-color: $L-DarkGray; }
		}
		&:focus {
			box-shadow: 0 0.25rem 0.75rem rgba(#000, 0.25);
			outline: none;
		}
	}
}

.swal2-popup {
	.swal2-actions {
		> * + * { margin-left: 16px; }
	}
}

@keyframes pulse-warning {
	0%   {border-color: $L-Orange;}
	100% {border-color: rgba($L-Orange, 0.2);}
}

.swal2-popup.prompt-with-option {
	#swal2-content {
		width: 100%;
		text-align: center;

		div:first-child {
			display: block !important;
			text-align: left;
		}
	}
	.swal2-input {
		display: flex;
	}
	.swal2-checkbox-opt {
		margin: 1rem auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
