/**
 * Variables
 *
 * @author Takuto Yanagida
 * @version 2026-08-22
 */

$L-Red         : #e61e58;
$L-Red-35      : #f6b0c5;
$L-Red-15      : #fbdde6;
$L-Orange      : #f5a200;
$L-Orange-b    : #f18400;
$L-Orange-50   : #fbd290;
$L-Yellow      : #fdde00;
$L-Yellow-35   : #fef3a6;
$L-YellowGreen : #7eba2e;
$L-PaleGreen   : #4db28d;
$L-PaleGreen-25: #d2ece2;
$L-Turquoise   : #005363;
$L-Cyan        : #009ddf;
$L-Aqua        : #60b3e5;
$L-Aqua-60     : #a0d1ef;
$L-Blue        : #2e449a;
$L-Purple      : #9a74a3;
$L-Brown       : #4e4138;
$L-BodyBrown   : #7c6a5a;
$L-LightGray   : #e8e8e8;
$L-Gray        : #b5b5b6;
$L-DarkGray    : #898989;

$color-editor: #fdfdf9;
$color-text  : #110;
$color-window: #f8f8f8;
$color-handle: #d7d7d7;

$font-ui     : "Lucida Grande", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", sans-serif;
$font-console: Inconsolata, 'Hiragino Sans', "Yu Gothic UI", "Meiryo UI", monospace;
$font-size   : 14px;

$size-toolbar-button: 40px;
