/**
 * Study Window Style
 *
 * @author Takuto Yanagida
 * @version 2026-08-22
 */

@use 'sass:math';
@use 'variables' as *;
@use 'editor';
@use 'dialog-box';
@use 'toolbar';
@use 'side-menu';

@font-face {
	font-family: 'Inconsolata';
	src: url('Inconsolata-dz.woff') format('woff');
}

@font-face {
	font-family: 'LaMono';
	font-weight: 400;
	src: url('LaMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'LaMono';
	font-weight: 700;
	src: url('LaMono-Bold.ttf') format('truetype');
}

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// Main Splitter ---------------------------------------------------------------

#handle {
	cursor: row-resize;
	height: 8px;
	background-color: $color-handle;
	box-shadow: 0 0 2px rgba(#000, 0.15), 0 2px 4px rgba(#000, 0.25);
	transition: 0.25s;

	&:hover { background-color: $L-DarkGray; }
}

#editor {
	height: 100%;
}

// Output Pane -----------------------------------------------------------------

.sub {
	overflow-y: scroll;
	height: 0;
	font-family: $font-console;

	> div > div {  /* Output Pane -> inner -> items */
		margin: 4px;
		word-wrap: break-word;
		line-height: 1.35;
	}

	div.std {
		color: $color-text;
		[class ^= 'type'] {
			border-radius: 0.25em;
			margin: 0 1px;
			padding: 1px;

			background-color: rgba($color-text, 0.05);
			&:hover { background-color: rgba($color-text, 0.1); }
		}
		.type-function,
		.type-set,
		.type-weakset,
		.type-map,
		.type-weakmap,
		.type-object,
		[class ^= 'type-array'] {
			display: inline-block;
			vertical-align: top;

			background-color: transparent;
			border: 1px solid rgba($color-text, 0.1);
			&:hover {
				background-color: transparent;
				border-color: rgba($color-text, 0.5);
			}
		}
	}

	div.err {
		color: $L-Red;

		span {
			display: inline-block;

			margin-right: 0.5rem;
			padding: math.div(1rem - 0.85rem, 2) 0.25rem;

			border-radius: 0.25rem;
			background-color: $L-Red;
			color: #fff;
			font-size: 0.85rem;
		}
		div {
			color: $L-Gray;
			font-size: 0.8em;
			margin-top: 0;
		}
	}

	div.std,
	div.err {
		.count {
			background-color: $L-PaleGreen;
			border-radius: 2px;
			color: #fff;
			margin-right: 4px;
			font-size: 0.8em;
			padding: 2px 3px;
		}
	}

}
